[Unit]
Description=Sports Bot Master Service
After=network.target
Wants=sportsbot.service terminal-display.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/systemctl start sportsbot.service
ExecStart=/bin/systemctl start terminal-display.service
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
